
m6_머신러닝 알고리즘 이해 및 활용/creditcard.csv
m_5 데이터베이스/purchase-001.csv
m_5 데이터베이스/경쟁사이용.txt
m_5 데이터베이스/고객DEMO.txt
m_5 데이터베이스/구매상품TR.txt
m_5 데이터베이스/멤버십여부.txt
m_5 데이터베이스/분류.txt
m_5 데이터베이스/분류.txt
m_5 데이터베이스/분류로직.csv
m_5 데이터베이스/분류로직.csv
m_5 데이터베이스/상품분류.txt
m_5 데이터베이스/상품분류.txt
m_5 데이터베이스/상품분류.xlsx
m_5 데이터베이스/채널이용.txt
m_5 데이터베이스/카테고리 정리.xlsx
